@import './base.css';
@import "tailwindcss";

@font-face{
    font-family: nint;
    src: url('./FOT-NewRodin.otf');
    font-weight: normal;
    font-style: normal;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  font-family: nint;
}

.green {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
  padding: 3px;
}


@media (min-width: 1024px) {
  body {
    display: block;

  }

  #app {
    display: block;
    /* grid-template-columns: 1fr 1fr; */
  }
}
